.Footer{
    background-color: #0D0D0D;
    color: #fff;
    border-radius: 2rem 2rem 0 0;
    margin-top: 3rem;
    margin: 3rem -.5rem -.5rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footImg{
    width: 25rem;
    height: auto;
}

.footTop, .footBottom{
    width: 90%;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footItems{
    display: flex;
}

.footItem{
    list-style: none;
}

.linkRoute{
    text-decoration: none;
    color: #fff;
    font-size: .9rem;
    margin: 0 1rem;
    cursor: pointer;
    transition: .4s;
}

.linkRoute:hover{
    color: #FFD956;
}

.footBottom{
    border-top: 1px solid #fff;
}

.linkLinkedin{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.linkLinkedin:hover{
    border-bottom: 1px solid #fff;
}

.redes{
    height: 10vh;
    display: flex;
    align-items: center;
}

.redesItem{
    margin-right: 1rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgRedes{
    width: 2.5rem;
    height: auto;
    transition: .2s;
}

.imgRedes:hover{
    width: 3rem;
}