.screen{
    min-height: 75vh;
    width: 85%;
    color: #fff;
    margin: 0 auto;
}

.screen h2{
    font-size: 2rem;
    text-align: center;
    color: #fff;
    letter-spacing: .1rem;
    width: 100%;
    padding: 1rem 0;
}

.screen p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2rem;
}

.screen span{
    text-align: start;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
}