.Works, .cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.cards{
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.titleWorks{
    font-size: 3rem;
    text-align: center;
    color: #fff;
    letter-spacing: .1rem;
    width: 100%;
}